In [1]:
# Exploração de Dados - Manipulação com Pandas, Numpy, Scipy, MatplotLib
# Autor: Ricardo Roberto de Lima
# Data: 29/02/2024
# Parte 2 - Biblioteca de Dados e Slides..
# Data slicing and grouping

In [1]:
# Importando as bibliotecas do Python
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Data Slicing and grouping

In [2]:
# Lendo o arquivo CSV
df = pd.read_csv("titanic.csv")

In [3]:
# Mostrando os primeiros registros da Tabela.
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df_sex = df.groupby('Sex')

In [5]:
print(df['Sex'].head())

0      male
1    female
2    female
3    female
4      male
Name: Sex, dtype: object

In [7]:
# Extração do nome da colunae (Method 2)
print(df.Sex.head())

0      male
1    female
2    female
3    female
4      male
Name: Sex, dtype: object

In [10]:
# Calcular a Estatística Básicas para o Salario (used describe() method)
df['salary'].describe()

count        78.000000
mean     108023.782051
std       28293.661022
min       57800.000000
25%       88612.500000
50%      104671.000000
75%      126774.750000
max      186960.000000
Name: salary, dtype: float64

In [8]:
# Calcular a Média dos Valores na coluna salário (use count() method)
print(df['Age'].describe())

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [9]:
# Calculando a média dos Salarios. 
print(df['PassengerId'].count())

891

In [35]:
total_people= df['Survived'].count()
print("número total de pessoa:",total_people)

número total de pessoa: 891

In [34]:
survived=df['Survived'].sum()
print("Não de pessoas sobreviveram:",survived)

Não de pessoas sobreviveram: 342

In [37]:
not_survived= total_people-survived
print("Pessoas morreram:",not_survived)

Pessoas morreram: 549

In [38]:
survival_rate=df['Survived'].mean()
print("taxa de sobrevivência:",survival_rate)

taxa de sobrevivência: 0.3838383838383838

In [40]:
avg_age=df['Age'].mean()
print("Idade Média:",avg_age)

Idade Média: 29.69911764705882

In [41]:
max_fare=df['Fare'].max()
print("Tarifa_máx:",max_fare)

Tarifa_máx: 512.3292

In [6]:
## Fim da segunda parte.